<% if @domain -%>
$user = New-Object System.Security.Principal.NTAccount("<%= @domain %>", "<%= @user %>");
<% else -%>
$user = New-Object System.Security.Principal.NTAccount("<%= @user %>");
<% end -%>
$sid = ($user.Translate([System.Security.Principal.SecurityIdentifier])).Value;
$regpath = "Registry::HKEY_USERS\${sid}\Control Panel\Desktop";
Set-ItemProperty -Path $regpath -Name "ScreenSaveActive" -Value <%= @active_value %> -Force;
Set-ItemProperty -Path $regpath -Name "SCRNSAVE.EXE" -Value "<%= @exe %>" -Force;
Set-ItemProperty -Path $regpath -Name "ScreenSaverIsSecure" -Value <%= @secure_value %> -Force;
Set-ItemProperty -Path $regpath -Name "ScreenSaveTimeOut" -Value <%= @timeout_seconds %> -Force;
