$shell = New-Object -COMObject Shell.Application;
$Zipfile = "<%= @zipfile %>".replace('/', '\')
$Destination = "<%= @destination %>".replace('/', '\')

$zipfile = $shell.NameSpace($zipfile);
foreach($item in $zipfile.Items()){ $shell.NameSpace($destination).CopyHere($item, <%= @options %>) };